body {
  background-color: coral;
  text-align: center;
}

.letter-input {
  background-color: white;
  border: solid white;
  border-radius: 5px;
  color: coral;
  font-family: sans-serif;
  font-size: 20px;
  margin: 100px 5px;
  padding: 10px 15px;
  width: 50%;
}

.letter-input:focus {
  background-color: coral;
  color: white;
  outline-style: none;
}

.create-letter-button {
  background-color: white;
  border: solid white;
  color: coral;
  font-family: sans-serif;
  font-size: 20px;
  margin: 100px 5px;
  padding: 10px 15px;
}

.create-letter-button:active {
  background-color: coral;
  color: white;
}

.create-letter-button:focus {
  outline-color: white;
}

.counter {
  color: white;
  font-family: sans-serif;
  font-size: 25px;
}

.newspaper {
  background-color: antiquewhite;
  font-family: Times New Roman, Times, serif;
  font-weight: 700;
}

.magazine1 {
  background-color: teal;
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 900;
  text-transform: uppercase;
}

.magazine2 {
  background-image: url('/images/pink-pattern.png');
  color: fuchsia;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 900;
}

.medium {
  font-size: 20px;
  padding: 8px;
}

.big {
  font-size: 30px;
  padding: 10px;
}

.reallybig {
  font-size: 40px;
  padding: 15px;
}

.rotateleft {
  transform: rotate(-5deg);
}

.rotateright {
  transform: rotate(5deg);
}

.skewleft {
  transform: skewX(10deg);
}

.skewright {
  transform: skewX(-10deg);
}
